<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.github.xiaogegechen.network">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:theme="@style/network_test_app_theme_style"
            android:networkSecurityConfig="@xml/network_security_config"
            tools:targetApi="n">
        <activity android:name="debug.NetworkTestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>