<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.github.xiaogegechen.module_d">
    <application>
        <activity android:name=".view.impl.BookListActivity"/>
        <activity android:name=".view.impl.BookInfoActivity"/>
        <activity android:name=".view.impl.ExpressActivity"/>
    </application>
</manifest>
